
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#fff,rgb(172, 170, 170));
}

p {
    margin: 30px 5px;
    font-size: 20px;
    margin: auto;
}

/* rodape  */
.rodapé {
    box-shadow: 0 1px 10px 1px #000;
    border-top: 5px solid rgb(54, 54, 54);
    background-color: black;
    text-align: center;
    color: #fff;
}

.rodapé p {
    margin: 0;
    padding: 15px;
}

footer p {
    text-align: center;

}