/*------------------------------------------Container navegação------------------------------------------*/
a,
a:hover {
    color: #fff;
}

.canais~a {
    border: none;
    list-style: none;
    text-decoration: none;

}

.container-nav {
    margin: 0 5%;
}

.cabecario {
    top: 0;
    height: 130px;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 10px;
    border-bottom: 5px solid rgb(54, 54, 54);
    box-shadow: 0 1px 10px 1px #000;

}

.container-nav h1 {
    color: #fff;
    font-size: .7em;
}

/* .ladoesquerdo {
   
}

.ladodireito {
    
} */

/*------------------------------------------Titulos Sessões-------------------------------------------------------------*/

h1 {
    display: flex;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 10px;
    display: block;
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #000;
    margin: 1.3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: "Audiowide", sans-serif;
    text-transform: capitalize;

}

h3 {
    color: #000;
    font-size: 25px;
    text-transform: capitalize;
}

h4 {
    margin: 1.7rem 0;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: "Black Ops One", system-ui;
    color: #444242;
    text-transform: capitalize;
}


/*-------------------------------------------Conteudo da pagina-----------------------------------------*/
.container {
    position: relative;
}

.conteudo {
    text-align: center;
    padding-top: 8.80rem;
    margin-bottom: 50px;
    box-shadow: 0 8px 13px 4px #000;
}


.conteudo p {
    width: 80%;
    font-family:sans-serif;
    font-weight: bold;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);
}

.conteudo2 {
    padding-top: 10px;
    font-weight: bold;
    font-family:sans-serif;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);
}

.conteudo3 {
    padding-top: 140px;
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);
}

@media screen and (max-width:992px) {
 
    .conteudo {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .conteudo3 {
    padding-top: 5rem;
   
}

}

/*Imgs sessão Downloads*/

.img2 {
    width: 90%;
    filter: drop-shadow(2px 2px 2px #000);
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 60%;
    margin: 20px;
}

.img3 {
    width: 90%;
    filter: drop-shadow(0 4px 8px 1px #000);
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.img4 {
    width: 0%;
    filter: drop-shadow(0 4px 8px 1px #000);
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 20%;
    margin: 20px;
}

/* imagens da pagina */
img {
    filter: drop-shadow(0 4px 8px 1px #000);
    margin-top: 20px;
    border-radius: 2%;
    margin-bottom: 10px;

}

.img {
    filter: drop-shadow(0 4px 8px 1px #000);
    width: 100px;
    height: 100px;
}

.img2 {
    filter: drop-shadow(0 4px 8px 1px #000);
    width: 15rem;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 30%;
    margin: 20px;

}

.imgyoutube{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.9rem 0;
    width: 20rem;
    height: 20%;
}

.img3 {
    left: 0;
    width: 40%;
    filter: drop-shadow(0 4px 8px 1px #000);
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;

}

.img4 {
    width: 40%;
    filter: drop-shadow(0 4px 8px 1px #000);
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 20%;
    margin: 20px;

}

.img5 {
    filter: drop-shadow(0 4px 8px 1px #000);
    border-radius: 50%;
    position: fixed;
    top: 0;
}

.imagens {
    padding: 10px;
}

/*-------------------------------------------Canais dos menbros------------------------------------------*/

.canais li {
    padding: 5px 4px;
    text-decoration: none;
    height: 25px;
    width: 100%;
    list-style: none;
    color: #000;

}

.canais>li a:hover {
    border: none;
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
    margin: 0;
}

.img {
    width: 100px;
    height: 100px;
}

.conteudo-facebook {
    margin-top: 40px;
}

.canais li {
    text-decoration: none;
    list-style: none;
    color: #000;
}

.canais li {
    text-decoration: none;
    list-style: none;
    color: #000;
}


.canais li a {
    text-decoration: none;
    list-style: none;
    line-height: 20px;
    color: #000;
}

.logo5 {
    width: 25%;
    margin-top: 170;
    border-radius: 50%;
    margin: 0 auto;
}

.img2 {
    width: 30%;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 30%;
    margin: 20px;
}


/* menbros da equipe ORB-HRB */
ul li {
    font-size: 14px;
    list-style: none;
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.men>li {
    font-size: 12px;
    list-style: none;
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
    height: 20px;
}

.men>li:hover {
    font-size: 16px;
    line-height: 20px;
    transition: all .5s;
}

.items {
    display: none;
}

.items {
    display: flex;
    align-items: center;
    line-height: 65px;
    margin: 0;
    padding: 0;
}

.item li :hover {
    list-style: none;
}

i {
    margin: 15px;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

/*--------------------------------------------Menu Navegação--------------------------------------------*/
.menu--item {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
}

.menu--item>li {
    margin-top: -5px;

}

.menu-navegacao li {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;


}

.menu-navegacao li a {
    position: relative;
    color: #fff;
    align-items: center;
    text-decoration: none;
    margin: 0;
}

.menu-navegacao li a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    top: 20px;
    left: 0;
    background-color: #fff;
    border-radius: 20px;
}

.menu-navegacao li a:hover {
    color: rgb(189, 186, 186);
    transition: all .5s ease-in-out;
}

.menu-navegacao li a:hover::after {
    width: 100%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}


.menu-mobile {
    display: none;
}

@media (max-width:992px) {

    body {
        box-shadow: none;
    }

    /* menu */
    .item li {
        left: 110px;
    }

    .li {
        text-align: center;
    }

    .menu-mobile li>a {
        color: #fff;
        display: flex;
        line-height: 95px;
        font-size: 1.5rem;
        flex-direction: column;
        justify-content: center;
        right: 20%;
        text-decoration: none;
    }

    .menu-mobile {
        position: fixed;
        display: block;
        top: 8em;
        width: 100%;
        height: 100%;
        z-index: 99;
        left: 0;
        background-color: black;
        /* border-right: 5px solid rgb(68, 68, 68); */
        box-shadow: 0 1px 15px 1px #000;
        transition: .3s ease;
    }


    .menu-navegacao li:hover {
        cursor: pointer
    }

    /* menu */
    .menu--item i {
        display: none;
    }

    /*menu-navegacao*/
    .menu-navegacao {
        top: 20px;
        padding: 2px;
        text-decoration: none;
        color: #fff;
        margin-top: 22px;
        display: none;
        align-items: center;
    }


    .menu--item2 {
        position: absolute;
    }

    .menu-active {
        left: -100%;
        transition: .3s ease;
    }

    .menu {
        margin-left: 0 20px;
        margin-top: 20px;
    }

    .items {
        color: #fff;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        height: 35em;
        width: 100%;
        margin-top: 29px;
        align-items: center;
        overflow-y: scroll;

    }

    .items::-webkit-scrollbar {
        display: none;
    }

    .logo4 {
        width: 57px;
        margin-top: 170;
        border-radius: 50%;
        margin: 0 auto;
    }

    /* containier */
    .container-menuH {
        position: absolute;
        display: flex;
        right: 0;

    }

    p {
        font-size: 20px;
    }

    /* imagens */
    img {
        margin-top: 20px;
        filter: drop-shadow(0 4px 8px 1px #000);
        border-radius: 2%;
        margin-bottom: 10px;
    }

    .img2 {
        width: 80%;
        filter: drop-shadow(0 4px 8px 1px #000);
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 30%;
        margin: 20px;

    }

    .img3 {
        left: 0;
        width: 45%;
       filter: drop-shadow(0 4px 8px 1px #000);
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;

    }

    .img4 {
        width: 45%;
        filter: drop-shadow(0 4px 8px 1px #000);
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 20%;
        margin: 20px;

    }

    .img5 {
        border-radius: 50%;
        position: fixed;

    }


    .img6 {
        width: 10px;
        position: fixed;
        position: absolute;
        top: 0;
        z-index: 1
    }

    /* video */
    .video {
        width: 95%;
        height: 220px;
        z-index: 0;
    }

    .jlplayer-video {
        z-index: 0;
    }


    /* botao menu hamburguer */
    .botao-menu {
        align-items: center;
        position: relative;
        width: 35px;
        height: 34px;
        justify-content: center;
        display: flex;
        overflow: hidden;
    }

    .botao-menu .line {
        border-radius: 7px;
        position: absolute;
        background-color: #fff;
        height: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .line1 {
        top: 2px;
        transition: all ease 0.5s;
    }

    .line2 {
        transition: all ease 0.5s;
        left: 0;
    }

    .line3 {
        bottom: 2px;
        transition: all ease 0.5s;
    }

    .active .line1 {
        top: 15px;
        transform: translateY(50%)rotate(-45deg);
        transition: all ease 0.5s;
    }

    .active .line2 {
        transition: all ease 0.5s;
        left: -35px;
    }

    .active .line3 {
        transform: translateY(50%)rotate(45deg);
        bottom: 15px;
        transition: all ease 0.5s;
    }

    .img5 {
        border-radius: 50%;
        position: fixed;
        top: 0px;
    }

    .menu-mobile li:hover {
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 50px;
    }

    .botao-menu:hover .line {
        cursor: pointer;
    }

    .li :hover {
        text-decoration: none;
    }

}

@media(max-width:414px) {

    /* menu */
    .menu-mobile li a {
        font-size: 25px;
        right: 20%;
    }

    .menu-mobile li i {
        margin: 1%;
        font-size: 1.2em;
        color: #fff;
        z-index: 1;
    }



    /* texto */
    p {
        font-size: 1em;
    }

    /* titulos */

    h1{
        font-size: 1.5rem;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        color: #000;
        font-size: 1.4rem;
    }

    h3 {
        color: #000;
        font-size: 3.1rem;
    }

}

h3 {
    font-size: 1.5em;
}


/*---------------------------------------------Menu Mobile--------------------------------------------------------------*/
.items {
    margin-top: -5px;
}

.linhas {
    line-height: 100px;
    text-decoration: none;
}

@media(max-width:320px) {

    /* menu */
    .menu-mobile li i {
        margin: 1%;
        font-size: 1px;
        color: #fff;
        z-index: 1;
    }

    .linhas {
        line-height: 83px;
        text-decoration: none;
        font-weight: bolder;
    }

    .item {
        padding: 0;
    }

    /* conteudo */
    .conteudo {
        margin-top: 109px;
    }

    /* imagens */
    .img2 {
        width: 80%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 50%;

        margin: 20px;
    }

    .img3 {
        width: 70%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;

    }

    .img4 {
        width: 25%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 25%;
        margin: 20px;

    }

    .img5 {
        border-radius: 50%;
        position: fixed;
        top: 395px;
        width: 17%;
        height: 10%;
    }

    /* video */
    .video {
        width: 100%;
        height: 100%;

    }

    /* container */
    .container {
        margin-top: 19px;
    }

}

@media(max-width:992px) {
    .container-logo h1 {
        display: block;
    }

    .menu-mobile li a {
        font-size: 24px;
    }

    .menu-mobile i {
        display: none;
    }

}