/* canais */
.canais li a {
    text-decoration: none;
    list-style: none;
    color: #000;
}

.logo5{
    width: 25%;
    margin-top: 170;
    border-radius: 50%;
    margin: 0 auto;
}
/* botoes redes */
.botao-wats a,.botao-fece a,.botao-inst a ,.botao-dis a{
border-radius: 50%;
position: fixed;
z-index: 1;
right: 120px;
align-items: center;
padding: 0 1px;
text-decoration:none ;

}

.botao-wats a{
    background-color:rgb(18 140 126);
    top: 360px;
}
.botao-fece a{
    background-color:rgb(66,103,178);
    top: 450px;
}
.botao-inst a{
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    top: 170px;
}

.botao-dis a{
    background: rgb(114,137,218);
    top: 270px;

}


    .logo-wats{
    border-radius: 50%;
    position: fixed;
    padding: 0 1px;
    background-color:rgb(18, 140,126);
    font-size: 1.5em;
    left: 20;
    top: 320px;
    }

   


@media screen and ( max-width:992px) {
    .botao-wats a,.botao-fece a,.botao-inst a,.botao-dis a {
        border-radius: 50%;
        position: fixed;
        z-index: 1;
       right: 20px;
       display: flex;
       align-items: center;
       padding: 0;
       text-decoration: none;
    
    }
    #ws, #is,#fe #dis{
        font-size: 4.1em;
        display: flex;
    }

    .botao-inst a{
        background: rgb(131,58,180);
        background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        top: 190px;
    }
    .botao-wats a{
        background-color:rgb(18,140,126);
        top: 360px;
     
    }
    
    .botao-fece a{
        background-color:rgb(66,103,178);
        top: 450;
    }
    .botao-dis a{
        background: rgb(114,137,218);
        top: 270px;}

    }
    
    #ws,#is,#fe,#dis{
     font-size: 1.5em;
     display: flex;
    }

    .logo-wats{
        border-radius: 50%;
        position: fixed;
        padding: 0 2px;
        background-color:rgb(18 140 126);
        font-size: 1.2em;
        left: 20;
        top: 320px;
        }




/* titulos */

h1 {
    display: flex;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 0 10px;
    display: block; 
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    }

h2 {
    text-align: center;
    margin-top: 10px;
    color: #000;
    margin: 0 10px;
}

h3 {
    color: #000;
    font-size: 35px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 2px;
    
}
/* container menu */
.container-logo {
    align-items: center;
    display: inline-flex;
}

.container--menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.container-menuH{
    display: block;
}


/* imagens */
img {
    margin-top: 20px;
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 2%;
    margin-bottom: 10px;
 
}

.img2 {
    width: 40%;
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 30%;
    margin: 20px;

}
.img3 {
    left: 0;
    width:40%;
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;

}
.img4 {
    width:40%;
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 20%;
    margin: 20px;

}.imagens {
padding: 10px;
}

.img {
    width: 100px;
    height: 100px;
}
.img5{
border-radius: 50%;
position: fixed;
top: 0;
}
/* logos */
.logo {
    border-radius: 50%;
    background-color: blue
}
.logo2 {
    border-radius: 50%;
}

.logo3{
    width: 60%;
    top: 0;
    border-radius: 50%;
    text-align: center;
}
.logo4{
    width: 30%;
    margin-top: 170;
    border-radius: 50%;
    margin: 0 auto;
}
.logo5{
    width: 25%;
    margin-top: 170;
    border-radius: 50%;
    margin: 0 auto;
}


.logo5{
    width: 25%;
    margin-top: 170;
    border-radius: 50%;
    margin: 0 auto;
}

/* conteudos da pagina */
.conteudo2 {
    margin-top: 5px;
    
   
}
.conteudo3{
    margin-top: 140px;
    text-align: center;
    box-shadow: 0 8px 13px 4px rgb(70, 69, 69);
}
.conteudo p {
    width: 80%;
}

.conteudo {
    text-align: center;
    margin-top: 140px;
    box-shadow: 0 8px 13px 4px #000;
}


/* menus ul li item*/
ul li {
    font-size: 14px;
    list-style: none;
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
}

.items{
    display: none;}

.items{
    display: flex;
    align-items: center;
    line-height: 65px;
    margin: 0;
    padding: 0; }
.item li :hover{
    list-style: none;}
i{ margin: 15px;
    font-size:20px;
    color: #fff;
    z-index: 1;
    }

/* video */
    .video{
        width: 70%;
        height: 320px;
    }

        @media(max-width:347px) {
        .container-logo h1{
                display: none;}
 
                
            }
            
        @media(max-height:375px) {
            /* menu */
                .menu-horinzontal li i{
                margin: 1%;
                font-size: 1em;
                color: #fff;
                z-index: 1;}

                .menu-horinzontal{
                    top: 85px;
                    height:80%;
                    overflow-x: scroll;
                }
                
                .menu{
                    width: 100%;
                    height: 50%;
                    margin-top: 15px;
                }
                .linhas{
                    font-size: 25px;
                    line-height: 75px;
     
                }
                .items{
                    height: 250px;
                  margin-top: -5px;
                }
                .cabecario{
                    height: 85px;
                }
                .li {
                    
                    font-size: 1px;
                }
                h1{
                    display: block; 
                    font-size: 15px; 
                    font-family: "Audiowide", sans-serif;
                    font-weight: bolder;
        
                    }
                    .container--menu{
                        margin-top: -15px;
                     
                    }
                    

                /* conteudo */
                .conteudo{
                margin-top:85px;
                }
                .conteudo3{
                margin-top: 85px;

                }
                /* imagem */
                .img4 {
                width: 75%;
                box-shadow: 0 4px 8px 1px #000;
                border-radius: 50%;
                margin-bottom: 20px;
                margin-top: 30px;
                height: 25%;
                margin: 20px;
                }/* logos */
                .logo4{
                    width: 15%;
                    height: 35%;
                }
                .logo2{
                    width: 17%;
                    height: 15%;
                }
               

                @media(min-height:393px) {
                    .menu-horinzontal{
                        height:70%;
                        overflow-y: scroll;
                    }
                    
                    .items{
                        height: 110px;  }
                    .linhas{
                        line-height: 55px;
         
                    }}
                    .botao-inst a{
                        background: rgb(131,58,180);
                        background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                        top: 100px;
                    }
                    .botao-wats a{
                        background-color:rgb(18 140 126);
                        top: 235px;
                     
                    }
                    .botao-dis a{
                        background: rgb(114,137,218);
                        top: 170px;}

                    .botao-wats a{
                        background-color:rgb(18 140 126);
                        top: 235px;
                     
                    }
                    .botao-fece a{
                        background-color:rgb(66,103,178);
                        top: 305px;
                     
                    }
                    #ws,#is,#fe,#dis{
                        font-size: 0.9em;
                        display: flex;
                      
                    }
                    .botao-wats a,.botao-fece a,.botao-inst a,.botao-dis a {
                        border-radius: 55%;
                        position: fixed;
                        z-index: 1;
                       right: 69px;
                       display: flex;
                       align-items: center;
                       padding: 0;
                       text-decoration: none;
                    
                    }
                    .logo-wats{
                        border-radius: 50%;
                        position: fixed;
                        padding: 0 1px;
                        background-color:rgb(18,140,126);
                        font-size: 1.2em;
                        left: 20;
                        top: 210px;
                        display: block;
                        }

            }

          