body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-image: url(../img/LOGO\ ANTI.jpg);
    box-sizing: border-box;
}

/* cabecario */
.cabecario {
    top: 0;
    background-image: url(../img/bg.jpg);
    width: 100%;
    position: fixed;
    border-bottom: 4px solid #ccc;
    z-index: 99;
    
}

/* canais */
.canais li a {
    text-decoration: none;
    list-style: none;
    color: #000;
}


.container-logo {
    align-items: center;
    display: inline-flex;
}

.container--menu {
    margin: 10px 0;

}

.container--menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;

}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #000;
    margin: 0 10px;
}

h3 {
    color: #000;
    font-size: 35px;
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 25px;
}



/* imagens */
img {
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 2%;
 
}

.img2 {
    width: 30%;
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 30%;
    margin: 20px;

}
.img3 {
    width: 30%;
    box-shadow: 0 4px 8px 1px #000;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 30px;

}


.imagens {
padding: 10px;
}

.logo {
    border-radius: 50%;
}
.logo2 {
    border-radius: 50%;
}

.conteudo {
    margin-top: 45px;
}

.conteudo2 {
    margin-top: 15px;
    text-align: center;
   
}
.conteudo3{
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(#fff, rgb(212, 210, 210));
   
}
.conteudo p {
    width: 80%;
}

.texto{
    width: 50%;  
}
.conteudo {
    text-align: center;
    margin-top: 105px;
    background: linear-gradient(#fff, rgb(212, 210, 210));
    box-shadow: 0 8px 3px 4px #000;
}

/* menu  navegacao*/
.menu--item {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    text-decoration: none;
    color: #fff;

}

.botao-menu {
    display: none;
}

.menu-navegacao li a:hover {
    transition: 0.5s;
    color: rgb(117, 115, 115);
    text-decoration: none;


}

.menu-navegacao li a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;

}

ul li {
    list-style: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    display: none;

}

/* video*/
.video {
    width: 310px;
    height: 310px;
    
}
.videos{
    width: 50%;
    height: 20%;
    padding: 20px;

}
.canais li {
    text-decoration: none;
    list-style: none;
    color: #000;
}

.canais>li :hover {
    font-size: 20px;
    text-decoration: none;
}

.img {
    width: 100px;
    height: 100px;
}

.conteudo-facebook {
    margin-top: 40px;
}

p {

    margin: 30px 5px;
    font-size: 20px;
    margin: auto;
}


.rodapé {
    background-image: url(../img/bg.jpg);
    text-align: center;
    color: #fff;
}

.rodapé p {
    margin: 0;
    padding: 15px;
}

footer p {
    text-align: center;

}

@media (max-width:992px) {

    /* menu navebar */
    .menu-navebar li a {
        color: #fff;
        font-size: 20px;
        margin: 10px;
        text-decoration: none;
        display: block;
    }
    .item {
        top: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 0;
    }
    .conteudo {
        margin-top: 45px;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .menu-navebar {
        height: 170px;
        overflow: hidden;
        transition: all ease 0.5s;
    }
    .img2 {
        width: 60%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 60%;
        margin: 20px;
    }
    .img3 {
        width: 60%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
    }


    .menu-navebar li a:hover {
        transition: 0.5s;
        color: rgb(117, 115, 115);
        text-decoration: none;
    }

    /*menu-navegacao*/
    .menu-navegacao {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        margin-top: 22px;
        display: none;
    }

    .menu-active {
        height: 0;
        visibility: hidden;
        transition: all ease 0.5s;
    }

    /*menu hamburguer*/
    .botao-menu {
        position: absolute;
        right: 0;
        display: inline-flex;
        font-size: 45px;
        color: #fff;
    }

    .botao-menu:hover {
        transition: 0.5s;
        color: rgb(117, 115, 115);
    }
}

@media(max-width:414px) {
    
    .logo2{
        margin-left: 125px;
    }
    h1 {
        display: none;
    }

.conteudo {
    margin-top: 93px;
}
.conteudo3 {
    margin-top: 93px;
}

    video {
        width: 70%;
        height: 120px;
    }

    p {
        font-size: 1.4em;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        color: #000;
        margin: 0 10px;
        font-size: 3.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    h3 {
        color: #000;
        font-size: 3.1rem;
    }

    h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 2.1em;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.5em;
    }
     .video{
         width: 90%;
         height: 200px;
     }

     .videos{
         width: 90%;
         height: 90%;
     }
     .item {
        top: 0;
        opacity: 1;
        display: flex;
        flex-direction: column;
        top: 0;
    }
    .img2 {
        width: 70%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 60%;
        margin: 20px;
    }
    .img3 {
        width: 90%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

@media(max-width:320px) {
    .logo2{
        margin-left: 125px;
    }

    h1{
        width: 200px;
        display: none;   
    }
    .conteudo{
        margin-top: 100px;
    }
    .video{
        width: 190px;
        height: 190px;

    }
    .container{
     margin-top: 19px;
     }
     .img2 {
        width: 70%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 50%;
        margin: 20px;
    }
    .img3 {
        width: 70%;
        box-shadow: 0 4px 8px 1px #000;
        border-radius: 2%;
        margin-bottom: 20px;
        margin-top: 30px;
    }

}
    

